

@{
    ViewBag.Title = "CreateUser";
    //Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    Layout = "~/Views/Shared/_LayoutDashboardinnerpage.cshtml";
}
<script type="text/javascript">
$(document).ready(function() {
$('table td:nth-child(6)').each(function() {
    //alert('test');
  let $this = $(this);

  // make sure it's a number
  if (!isNaN($this.text())) {

    if (+$this.text() > 20)
	{

	    var pieces = parseFloat($this.text()).toFixed(2).split('')
        let ii = pieces.length - 3
        while ((ii -= 3) > 0) {
            pieces.splice(ii, 0, ',')
        }
        $this.text(pieces.join(''));

    }
	else
	{
      $this.css('color', 'red');
    }
  }

});
});
</script>
<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <!--<h4 class="title">Create User</h4>-->
            <!-- Mega Form Starts -->
          @if (TempData["Error"] != "")
            {
            <div id="Msgs" class="alert alert-danger">
                @TempData["Error"]
            </div>
          }
        @if (TempData["SucMsg"] != "")
            {
            <div id="Msgs" class="alert alert-success">
                @TempData["SucMsg"]
            </div>
        }
            <section class="section-padding contact-us-padding form-padding">
                @*<div class="col-md-2">
                        <a href=@Url.Action("Exportoexcel2", "AdminA", new { }) class="">
                            <button type="submit" class="btn btn-default" onchange="CallChangefunc()">Export To Excel</button>
                        </a>
                    </div>*@
                <div class="tables">
                    <h2 class="title1">Third Level Approval</h2>
                    <div class="table-responsive bs-example widget-shadow">
                        @*<h4>Users:</h4>*@
                        @{int i = 0;}
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>AccountName</th>
                                    <th>AccountNumber</th>
                                    <th>PermanentAddress</th>
                                    <th>Loan Amount (N)</th>
                                    <th>Loan Tenure (Months)</th>
                                    <th>Date</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Data == null)
                                {
                                    <h2>No Record Found</h2>
                                }
                                else
                                {
                                    foreach (var Loan in ViewBag.Data)
                                    {
                                        <tr>
                                            <td scope="row">@(++i)</td>
                                            <td>@Loan.Surname  @Loan.Firstname</td>
                                            <td>@Loan.AccountName</td>
                                            <td>@Loan.AccountNumber</td>
                                            <td>@Loan.PermanentAddress</td>
                                            <td>@Loan.ConvertedAmount</td>
                                            <td>@Loan.LoanTenure</td>
                                            <td>@Loan.ValueDate</td>
                                            <td>
                                                @*<a onclick="return confirm('Are You Sure?')" href="@Url.Action("ApprovedLoan", "AdminA", new { Refid = @Loan.LoanRefNumber })">View</a>*@
                                                <a  href="@Url.Action("ThirdApproval", "AdminA", new { Refid = @Loan.LoanRefNumber })">View</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </section>

            <!-- // Mega Form Ends-->

        </div>

    </div>
</div>
<script>
function CallChangefunc(val)
{
    window.location.href = "/AdminA/Exportoexcel2";
}
</script>
