
<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard :: Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pay or Boro" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href=@Url.Content("/DashboardStyles/css/MyTable.css") rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href=@Url.Content("/DashboardStyles/css/bootstrap.css") rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href=@Url.Content("/DashboardStyles/css/style.css") rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS -->
    <link href=@Url.Content("/DashboardStyles/css/font-awesome.css") rel="stylesheet">
    <!-- //font-awesome icons CSS-->
    <!-- side nav css file -->
    <link href=@Url.Content("/DashboardStyles/css/SidebarNav.min.css") media='all' rel='stylesheet' type='text/css' />
    <!-- //side nav css file -->
    <!-- js-->
    <script src=@Url.Content("/DashboardStyles/js/jquery-1.11.1.min.js")></script>
    <script src=@Url.Content("/DashboardStyles/js/modernizr.custom.js")></script>

    <!-- Favicon Image -->
    <link rel="shortcut icon" href=@Url.Content("/DashboardStyles/images/favicon.ico") type="image/x-icon">
    <link rel="icon" href=@Url.Content("/DashboardStyles/images/favicon.ico") type="image/x-icon">
    <!-- //Favicon Image -->
    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->
    <!-- chart -->
    <script src=@Url.Content("/DashboardStyles/js/Chart.js")></script>
    <!-- //chart -->
    <!-- Metis Menu -->
    <script src=@Url.Content("/DashboardStyles/js/metisMenu.min.js")></script>
    <script src=@Url.Content("/DashboardStyles/js/custom.js")></script>
    <link href=@Url.Content("/DashboardStyles/css/custom.css") rel="stylesheet">
    <!--//Metis Menu -->
    <!-- For DataTable -->
    <link rel="stylesheet" type="text/css" href=@Url.Content("/UserStyles/Datatable/bootstrap.min.css")>
    <script src=@Url.Content("/UserStyles/Datatable/jquery.min.js")></script>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/UserStyles/Datatable/jquery.dataTables.min.css")>
    <script src=@Url.Content("/UserStyles/Datatable/jquery.dataTables.min.js")></script>
    <script src=@Url.Content("/UserStyles/Datatable/bootstrap.min.js")></script>
    <!-- End DataTable-->
    <style>
        #chartdiv {
            width: 100%;
            height: 295px;
        }
       .clean{

       margin-left:210px;
             } 
    </style>
    <!--pie-chart --><!-- index page sales reviews visitors pie chart -->
    <script src=@Url.Content("/DashboardStyles/js/pie-chart.js") type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#2dde98',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#8e43e7',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ffc168',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
    <!-- //pie-chart --><!-- index page sales reviews visitors pie chart -->
    <!-- requried-jsfiles-for owl -->
    <link href=@Url.Content("/DashboardStyles/css/owl.carousel.css") rel="stylesheet">
    <script src=@Url.Content("/DashboardStyles/js/owl.carousel.js")></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 3,
                lazyLoad: true,
                autoPlay: true,
                pagination: true,
                nav: true,
            });
        });
    </script>
    <!-- //requried-jsfiles-for owl -->
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <!--left-fixed -navigation-->
            <aside class="sidebar-left">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand">
                            <a href="/">
                                <img src=@Url.Content("/DashboardStyles/images/logo.png") alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="sidebar-menu">
                            <li class="treeview">
                                <a href=@Url.Action("index", "AdminA")>
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li>

                            @{
                                string groupName = "";
                            }
                            @foreach (var Res in ViewBag.Menus)
                            {
                                @*Start Here*@
                            if (Res.Value.Count == 1)
                            {
                                foreach (var subItem in Res.Value)
                                {

                                    if (groupName != @subItem.pageName)
                                    {
                                        <li class="treeview">
                                            <a href=@Url.Action(@subItem.pageurl, "AdminA")>

                                                <i class="fa fa-dashboard"></i> @subItem.pageName
                                            </a>
                                        </li>
                                    }
                                    groupName = @subItem.pageName;
                                }
                            }
                            @*Ends Here*@
                            if (Res.Value.Count > 1)
                            {
                                <li class="treeview">
                                    @if (groupName != @Res.Key)
                                    {
                                        <a href="#">
                                            <i class="fa fa-laptop"></i>
                                            <span>@Res.Key</span>
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                    }

                                    <ul class="treeview-menu">
                                        @foreach (var subItem in Res.Value)
                                        {

                                            if (groupName != @subItem.pageName)
                                            {


                                                <li>
                                                    <a href=@Url.Action(@subItem.pageurl, "AdminA")>

                                                        <i class="fa fa-angle-right"></i> @subItem.pageName
                                                    </a>
                                                </li>
                                            }
                                            groupName = @subItem.pageName;
                                        }
                                    </ul>
                                </li>
                                }
                            }
                        </ul>
                     
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </aside>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <!--toggle button end-->
                <div class="profile_details_left">
                    <!--notifications of menu start -->
                    
                    <div class="clearfix"> </div>
                </div>
                <!--notification menu end -->
                <div class="clearfix"> </div>
            </div>
            <div class="header-right">

                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src=@Url.Content("/DashboardStyle/images/2.jpg") alt=""> </span>
                                    <div class="user-name">
                                        @if (Session["User"] != null)
                                        { <p>
                                            @Session["User"]
                                        </p>
                                            <span>User</span>
                                        }
                                    </div>
                                    <i class="fa fa-angle-down lnr"></i>
                                    <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                @*<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>*@
                                <li> <a href=@Url.Action("EditPassword", "AdminA")><i class="fa fa-user"></i>Change Password</a> </li>
                                @*<li> <a href="#"><i class="fa fa-suitcase"></i> Profile</a> </li>*@
                                <li> <a href=@Url.Action("LogOut", "User")><i class="fa fa-sign-out"></i> Logout</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <!-- main content start-->
        @*style="margin-left:210px"*@
        <div id="page-wrapper" style="margin-left:210px">
            <div class="main-page">
              @*
                  <div class="col_3">
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-dollar icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>N452</strong></h5>
                                <span>Wallet Balance</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-laptop user1 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>N1019</strong></h5>
                                <span>Transaction Volume</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-money user2 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>N1012</strong></h5>
                                <span>Expenses</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-pie-chart dollar1 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>N450</strong></h5>
                                <span>Expenditure</span>
                            </div>
                        </div>
                    </div>



                    <div class="clearfix"> </div>
                </div>
                *@
                <br>



                <script src=@Url.Content("/DashboardStyles/js/index1.js")></script>

                <div>
                    @RenderBody()
                </div>


            </div>
        </div>


        <!--footer-->
        <div class="footer">
            <p>&copy; 2019 Uvlot. All Rights Reserved | Developed by <a href="https://paelyt.com.com/" target="_blank">Paelyt Solutions</a></p>
        </div>
        <!--//footer-->
    </div>

    <!-- new added graphs chart js-->

    <script src=@Url.Content("/DashboardStyles/js/Chart.bundle.js")></script>
    <script src=@Url.Content("/DashboardStyles/js/utils.js")></script>


    <!-- new added graphs chart js-->
    <!-- Classie --><!-- for toggle left push menu script -->
    <script src=@Url.Content("/DashboardStyles/js/classie.js")></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };


        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!-- //Classie --><!-- //for toggle left push menu script -->
    <!--scrolling js-->
    <script src=@Url.Content("/DashboardStyles/js/jquery.nicescroll.js")></script>
    <script src=@Url.Content("/DashboardStyles/js/scripts.js")></script>
    <!--//scrolling js-->
    <!-- side nav js -->
    <script src=@Url.Content("/DashboardStyles/js/SidebarNav.min.js") type='text/javascript'></script>
    <script>
        $('.sidebar-menu').SidebarNav()
    </script>
    <!-- //side nav js -->
    <!-- Bootstrap Core JavaScript -->
    <script src=@Url.Content("/DashboardStyles/js/bootstrap.js")> </script>
    <!-- //Bootstrap Core JavaScript -->
    <!--DataTable ID-->
    <script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
    </script>
    <!--DataTable Ends-->
</body>
</html>
