

@{
    ViewBag.Title = "AllNYSCLoanReport";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model DataAccessA.Classes.AppLoanss
<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <h4 class="title">NYSC Loan Report</h4>
            <!-- Mega Form Starts -->
            <section class="section-padding contact-us-padding form-padding">

                <div class="tables">
                    <h2 class="title1">NYSC Loan Report</h2>
                    <div class="table-responsive bs-example widget-shadow">
                        @*<h4>Users:</h4>*@
                        @{int i = 0;}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>

                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Surname</th>
                                    <th>Firstname</th>
                                    <th>Gender</th>
                                    <th>Marital Status</th>
                                    <th>Date Of Birth</th>
                                    <th>Phone Number</th>
                                    <th>Email Address</th>
                                    <th>Permanent Address</th>

                                    <th>Land mark</th>
                                    <th>Closest Bus Stop</th>
                                    <th>State of Residence</th>
                                    <th>LGA</th>
                                    <th>Temporary Address</th>
                                    <th>TempLand mark</th>
                                    <th>TempClosest Bus Stop</th>
                                    <th>TempState of Residence</th>
                                    <th>TempLGA</th>
                                     <th>State Code</th>
                                    
                                    <th>NYSCState of Residence</th>
                                    <th>NYSCLGA</th>
                                    <th>LoanTenure</th>
                                    <th>Employer</th>
                                    <th>Official Address</th>
                                    
                                    <th>Pass Out Month</th>
                                    <th>Land mark</th>
                                    <th>CDS Day</th>
                                    <th>CDS Group</th>
                                    <th>Net Monthly Income</th>
                                    <th>EMG FullName</th>

                                    <th>EMG Relationship</th>
                                    <th>EMG PhoneNumber</th>
                                    <th>EMG EmailAddress</th>
                                    <th>EMG HomeAddress</th>
                                    <th>Loan Amount</th>
                                    <th>Loan Tenure</th>
                                    <th>Loan RefNumber</th>
                                    <th>Existing Loan</th>
                                    <th>ExistingLoan OutstandingAmount</th>
                                    <th>ExistingLoan NoOfMonthsLeft</th>

                                    <th>Bank Code</th>
                                    <th>Account Number</th>
                                    <th>Account Name</th>
                                    <th>BVN</th>
                                    <th>Value Date</th>
                                    <th>Application Status</th>


                                </tr>
                            </thead>
                            <tbody>

                                @if (ViewBag.Data == null)
                                {
                                    <h2>No Record Found</h2>
                                }
                                else
                                {

                                    foreach (var LoanApp in ViewBag.Data)
                                    {
                                        <tr>

                                            <td scope="row">@(++i)</td>
                                     
                                            <td>@LoanApp.Title</td>
                                            <td>@LoanApp.Surname</td>
                                            <td>@LoanApp.Firstname</td>
                                            <td>@LoanApp.Gender</td>
                                            <td>@LoanApp.MaritalStatus</td>
                                            <td>@LoanApp.DateOfBirth</td>
                                            <td>@LoanApp.PhoneNumber</td>
                                            <td>@LoanApp.EmailAddress</td>
                                            <td>@LoanApp.PermanentAddress</td>
                                            <td>@LoanApp.Landmark</td>

                                            <td>@LoanApp.ClosestBusStop</td>
                                            <td>@LoanApp.StateofResidence</td>
                                            <td>@LoanApp.LGAs</td>
                                            <td>@LoanApp.TemporaryAddress</td>
                                            <td>@LoanApp.TempLandmark</td>
                                            <td>@LoanApp.TempClosestBusStop</td>
                                            <td>@LoanApp.TempStateofResidence</td>
                                            <td>@LoanApp.TempLGAs</td>
                                            <td>@LoanApp.StateCode</td>
                                            <td>@LoanApp.NyscStateofResidence</td>

                                            <td>@LoanApp.NyscLGAs</td>
                                            <td>@LoanApp.Employer</td>
                                            <td>@LoanApp.OfficialAddress</td>
                                            <td>@LoanApp.CDSDay</td>
                                            <td>@LoanApp.PassOutMonth</td>
                                            <td>@LoanApp.CDSGroup</td>
                                            <td>@LoanApp.NetMonthlyIncome</td>
                                            <td>@LoanApp.EMG_FullName</td>
                                            <td>@LoanApp.EMG_Relationship</td>
                                            <td>@LoanApp.EMG_PhoneNumber</td>

                                            <td>@LoanApp.EMG_EmailAddress</td>
                                            <td>@LoanApp.EMG_HomeAddress</td>
                                            <td>@LoanApp.LoanAmount</td>
                                            <td>@LoanApp.LoanTenure</td>
                                            <td>@LoanApp.LoanRefNumber</td>
                                            <td>@LoanApp.ExistingLoan_NoOfMonthsLeft</td>
                                            <td>@LoanApp.ExistingLoan</td>
                                            <td>@LoanApp.ExistingLoan_OutstandingAmount</td>
                                            <td>@LoanApp.BankCode</td>
                                            <td>@LoanApp.AccountNumber</td>

                                            <td>@LoanApp.AccountName</td>
                                            <td>@LoanApp.BVN</td>
                                            <td>@LoanApp.ValueDate</td>
                                            <td>@LoanApp.ApplicationStatus</td>

                                            <td>
                                                <a onclick="return confirm('Are You Sure?')" href="@Url.Action("AllNYSCLoanReport", "AdminA", new { id = @LoanApp.LoanRefNumber })">Edit User</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </section>

            <!-- // Mega Form Ends-->

        </div>

    </div>
</div>

<script>

    function updatemark(arg)
    {
        var abc = ""
//Iterating the collection of checkboxes which checked marked
        $('input[type=checkbox]').each(function () {
            if (this.checked) {
                abc = abc + $(this).val() + ","
                //assign set value to hidden field
                $('#SkillID').val(abc);
                //alert('testing');
                // alert($('#SkillID').val(abc).val);
                alert(abc);


            }
        });
        window.location.href = "/Admin/CreateUser?value=" + abc;
    }
</script>

