
@{
    @*ViewBag.Title = "Sigin";*@
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model DataAccessA.Classes.AppLoans
<div class="page-header01">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center ">
                <h2>Check Application Status</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Application Status</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

@*<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">*@


<section class="section-padding contact-us-padding form-padding">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                @using (Html.BeginForm("CheckNYSCLoan", "AdminA", FormMethod.Post, new { id = "signup" }))
                {
                    <form action="#" method="post">

                        @if (TempData["ErrMsg"] != null)
                        {
                            <div id="Msgs" class="alert alert-danger">
                                @TempData["ErrMsg"]
                            </div>
                        }


                        <h2 class="title1">Check Application Status</h2>
                        <div class="row list-input">


                            <div class="col-md-6 mr0">
                                <div class="single-get-touch">
                                    <input type="text" value="" required name="RefNumber" placeholder="Enter Reference Number" />
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="single-get-touch">
                                    @* <button type="submit" name="submit" class="btn btn-default btn-sm2 btnAction"></button>*@
                                    <a href="#"> <button type="submit" name="submit" class="btn btn-default btn-sm2 btnAction">Proceed</button></a>
                                </div>
                            </div>

                        </div>

                    </form>
                }
            </div>

            <br />
            @if (Model == null)
            {
            }
            else
            {

                <div class="col-sm-6 col-lg-5">
                    <label class="control-label">Loan RefNumber<span class="color-red">*</span></label>
                    <span>@Model.LoanRefNumber</span>
                </div>
                <div class="col-sm-6 col-lg-5">
                    <label class="control-label">Surname<span class="color-red">*</span></label>
                    <span>@Model.Surname</span>
                </div>

                                <div class="col-sm-6 col-lg-5">
                                    <label class="control-label">Firstname<span class="color-red">*</span></label>
                                    <span>@Model.Firstname</span>
                                </div>
                <div class="col-sm-6 col-lg-5">
                    <label class="control-label">DateCreated<span class="color-red">*</span></label>
                    <span>@Model.ValueDate</span>
                </div>

                                <div class="col-sm-6 col-lg-5">
                                    @*<div class="col-md-6 mr0">
                                        <div class="single-get-touch">*@
                                            <label class="control-label">Email Address<span class="color-red">*</span></label>
                                            <span>@Model.EmailAddress</span>
                                        </div>

                                <div class="col-sm-6 col-lg-5">
                                    <label class="control-label">Application Status<span class="color-red">*</span></label>
                                    <span>@Model.ApplicationStatus</span>
                                </div>
                                
                                <div class="col-sm-6 col-lg-5">
                                    <label class="control-label">Loan Amount<span class="color-red">*</span></label>
                                    <span>@Model.LoanAmount</span>
                                </div>

                                <div class="col-sm-6 col-lg-5">
                                    <label class="control-label">Loan Tenure<span class="color-red">*</span></label>
                                    <span>@Model.LoanTenure
                                    </span>
                                </div>

            }




        </div>
    </div>
</section>

<!-- // Mega Form Ends-->
@*</div>
    </div>
    </div>*@






